body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h1, h2 {
  color: #343a40;
}

.table {
  margin-top: 20px;
}

button {
  font-size: 16px;
}

#toplamFiyat {
  color: #28a745;
  font-weight: bold;
}
